<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>DEVKAT</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>DEVKAT saves your overlay images to Photos.</string>
	<key>UIAppFonts</key>
	<array>
		<string>NewYork.ttf</string>
		<string>NewYorkItalic.ttf</string>
		<string>NewYorkSmall-Regular.otf</string>
		<string>NewYorkSmall-Medium.otf</string>
		<string>NewYorkSmall-Semibold.otf</string>
		<string>NewYorkSmall-Bold.otf</string>
		<string>NewYorkMedium-Regular.otf</string>
		<string>NewYorkMedium-Medium.otf</string>
		<string>NewYorkMedium-Semibold.otf</string>
		<string>NewYorkMedium-Bold.otf</string>
		<string>NewYorkLarge-Regular.otf</string>
		<string>NewYorkLarge-Medium.otf</string>
		<string>NewYorkLarge-Semibold.otf</string>
		<string>NewYorkLarge-Bold.otf</string>
		<string>NewYorkLarge-Heavy.otf</string>
		<string>NewYorkExtraLarge-Regular.otf</string>
		<string>NewYorkExtraLarge-Medium.otf</string>
		<string>NewYorkExtraLarge-Semibold.otf</string>
		<string>NewYorkExtraLarge-Bold.otf</string>
		<string>NewYorkExtraLarge-Heavy.otf</string>
		<string>SF-Compact-Display-Regular.otf</string>
		<string>SF-Compact-Display-Medium.otf</string>
		<string>SF-Compact-Display-Semibold.otf</string>
		<string>SF-Compact-Display-Bold.otf</string>
		<string>SF-Compact-Display-Heavy.otf</string>
		<string>SF-Compact-Display-Black.otf</string>
		<string>SF-Compact-Rounded-Regular.otf</string>
		<string>SF-Compact-Rounded-Medium.otf</string>
		<string>SF-Compact-Rounded-Semibold.otf</string>
		<string>SF-Compact-Rounded-Bold.otf</string>
		<string>SF-Compact-Rounded-Heavy.otf</string>
		<string>SF-Compact-Rounded-Black.otf</string>
		<string>SF-Mono-Regular.otf</string>
		<string>SF-Mono-Medium.otf</string>
		<string>SF-Mono-Semibold.otf</string>
		<string>SF-Mono-Bold.otf</string>
		<string>SF-Mono-Heavy.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-Black.otf</string>
		<string>SF-Pro-Rounded-Regular.otf</string>
		<string>SF-Pro-Rounded-Medium.otf</string>
		<string>SF-Pro-Rounded-Semibold.otf</string>
		<string>SF-Pro-Rounded-Bold.otf</string>
		<string>SF-Pro-Rounded-Heavy.otf</string>
		<string>SF-Pro-Rounded-Black.otf</string>
		<string>LEDLIGHT.otf</string>
		<string>AcidTM.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
